:root {
    --main-color: #3D52A0;
    /* This is the main color of your website,
    used for key branding elements, like logos,
    headers, or calls-to-action (CTAs). */
    --secondary-color: #7091E6;
    /* It may be used for accents, highlights, or secondary CTAs. */
    --neutral-color: #8697C4;
    /* serves as the background for most of the site's content. */
    --neutral-accent: #ADBBDA;
    /* A darker or contrasting neutral color used for text, dividers, or subtle background details. */
    --accent-color: #EDE8F5;
    /* A vibrant or contrasting color used
    sparingly to draw attention to specific
    elements like buttons, links, or
    notifications. */




    --header-footer-background-color: var(--main-color);
    /* --header-footer-shadow-color: var(--neutral-accent); */
    --header-footer-outline: var(--neutral-accent);
    --header-footer-text-color: var(--accent-color);
    --header-footer-text-shadow: var(--accent-color);
    --main-content-background-color: var(--main-color);
    --game-board-background-color: var(--main-color);
    /* --game-board-border-color: var(--neutral-accent); */
    --game-board-shadow-color: var(--neutral-accent);
    --cell-border-color: var(--neutral-accent);
    --cell-color: var(--accent-color);
    --cell-text-shadow-color: var(--accent-color);
    --cell-hover-background: #ede8f554;
    --input-screen-background-color: #212d558c;
}

body {
    background-color: var(--main-content-background-color);
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-columns: 1fr;
}

.header {
    grid-row: 1;
    width: 80%;
    justify-self: center;
    background-color: var(--header-footer-background-color);
    box-shadow: 0px 0px 8px 0 var(--header-footer-shadow-color);
    z-index: 1;
    border-bottom: 1px solid var(--header-footer-outline);
    color: var(--header-footer-text-color);
    text-shadow: 0px 0px 4px var(--header-footer-text-shadow);
    font-family: 'roboto';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 900;
}

.footer {
    grid-row: 3;
    justify-self: center;
    width: 80%;
    background-color: var(--header-footer-background-color);
    box-shadow: 0px 0px 8px 0 var(--header-footer-shadow-color);
    z-index: 1;
    border-top: 1px solid var(--header-footer-outline);
}

.game-board {
    background-color: var(--game-board-background-color);
    border: 1px solid var(--game-board-border-color);
    justify-self: center;
    align-self: center;
    width: clamp(200px, 30%, 400px);
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    box-shadow: 0px 0px 8px 0 var(--game-board-shadow-color);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    background-color: transparent;
    border: .5px solid var(--cell-border-color);
    color: var(--cell-color);
    font-size: clamp(40px, calc(10px + (5 * 1vw)), 80px);
    text-shadow: 0 0 4px var(--cell-text-shadow-color);
}

button:hover {
    background-color: var(--cell-hover-background);
}

button:active.cell:empty {
    background-color: var(--secondary-color);
}

.top {
    border-top: none;
}

.left {
    border-left: none;
}

.right {
    border-right: none;
}

.bottom {
    border-bottom: none;
}

.top.left {
    border-top-left-radius: 12px;
}

.top.right {
    border-top-right-radius: 12px;
}

.bottom.left {
    border-bottom-left-radius: 12px;
}

.bottom.right {
    border-bottom-right-radius: 12px;
}


.input-screen {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: var(--input-screen-background-color);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-panel {
    /* width: 40dvw; */
    padding: 5dvh 2dvw;
    background-color: var(--header-footer-background-color);
    box-shadow: 0 0 8px 0 var(--game-board-shadow-color);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    font-family: 'roboto';
    color: var(--cell-color);
}

.input-panel input {
    font-size: 1em;
    width: 40dvw;
    margin-top: 8px;
    margin-bottom: 20px;
}

.input-panel button {
    margin-top: 20px;
    font-size: 1em;
    background-color: var(--game-board-background-color);
    box-shadow: 0 0 8px 0 var(--game-board-shadow-color);
    color: var(--cell-color);
    border-radius: 12px;
    padding: 8px 16px;
}